/* IMPOSTAZIONI GENERALI */

html{
    font-family: 'Raleway', sans-serif;
    min-width: 450px;
}
hr{
    border:0.5px dashed  #5c5c5c;
    width: 80%;
}

a{
    color: #ce6054;
}

header + hr, main + hr {
    border:3px solid rgba(2,119,148,255);
    margin:0;
    width: auto;
}

footer hr {
    border:none;
}


/* HEADER */

header{
    background-color: rgba(0,160,198,255);
    padding-top: 40px;
    text-align: center;
    height: 150px;
    width: auto;
}

header h1{
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 auto 15px;
    color: white;
    width: 200px;
    line-height: 30px;
}
header span{

    color: rgba(4,160,198,255);
    background-color: rgb(255, 255, 255);
}

header h2{
    font-weight: lighter;
}

/* MAIN */

main{
    padding: 0 3%;
}

/* ELEMENTI NEL MAIN */

main h2{
    font-weight: bold;
    color: rgba(2,119,148,255);
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
main figure img{
    padding: 5px;
    border: solid 1px #d7d7d7;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
main figcaption{
    margin-top: 10px;
    font-weight: 550;
    text-align: center;
}

main div {
    margin: 20px;
    line-height: 1.5em;
}
main address{
    margin: 20px 0;
}
main address b{
    font-weight:bolder;
}
main address, a :not(b){
    font-family: Arial, Helvetica, sans-serif;
}

address + p {
    font-weight: bolder;
    
}

blockquote p{
    font-style: italic;
    background-color:#e3e3e3;
    padding: 10% 5%;
    border-radius: 10px 10px 10px 10px;
    margin: 30px auto;
}
main strong{
    color:#027794;
}
main mark{
    background-color: #027794;
    color: white;
}

main section h3 {
    margin: 10px 0;
    color:black;
    font-weight: bold;
}
main ul{
    margin-top: 20px;
    margin-left: 30px;
}
main dd{
    margin-left: 30px;
}

/* FOOTER */
footer {
    background-color: #353535;
    color: white;
    text-align: center;
    line-height: 2em;
}
footer kbd{
   color: #ffff00;
}
footer small{
    color:#909796;
}
